/* == Color List ==

== PRIMARY COLOR
Black #1C1C1C
Dark Blue #091841
Blue #163AC7
Light Blue #30D1FF
Teal #3395A0

== SECONDARY COLOR
Green #88C100
Yellow #FFB81C
Orange #FF6720
Red #CA3604
Grey #9E9E9E

== End of Color List == */

/* Import Font - Space Grotesk */
@import url("../font/font.css");

/* == Typography == */
.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 26px;
}

.h5 {
    font-size: 22px;
}

.h6 {
    font-size: 20px;
}

.body-large {
    font-size: 17px;
}

.body-medium {
    font-size: 14px;
}

.body-small {
    font-size: 12px;
}

.description {
    font-size: 15px;
}

.button {
    font-size: 15px;
}

.gone {
    display: none;
}

/* == End Of Typography */


/* == Color List == */
.color-1 {
    color: #091841;
}

.color-2 {
    color: #9DA3B3;
}

.color-3 {
    color: #6B748D;
}

.color-4 {
    color: #3A4667;
}

.color-5 {
    color: #88C100;
}

.color-6 {
    color: #CA3604;
}

/* == End Of Color List */

/* Custom Checkbox For All Page */
.custom-control-label:before {
    background-color: transparent;
    border: 1px solid #EEEEEE !important;
    border-radius: 1px !important;
    box-shadow: none !important;
    width: 20px;
    height: 20px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border: 1px solid #163AC7 !important;
    background-color: #163AC7;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../images/icon/checkbox-checked.svg");
    background-position: center;
    background-size: 13px;
    padding-left: 20px;
    padding-top: 19px;
}

/* End of Custom Checkbox For All Page */

/* == CSS for all page == */

body {
    font-family: 'space_groteskregular';
    color: #091841;
}

.font-weight-medium {
    font-family: 'space_groteskmedium';
}

.font-weight-semibold {
    font-family: 'space_grotesksemibold';
}

.font-size-15 {
    font-size: 15px;
}

/* == Navigation == */
.nav-item {
    font-family: 'space_groteskmedium';
}

.nav-btn {
    padding: 10px 40px;
    background-color: #163AC7;
    color: #FFF;
    font-size: 15px;
}

.nav-btn:hover {
    background-color: #091841;
    color: #FFF;
    transition: 0.2s;
}

.navbar-brand-img {
    width: 100px;
}

.navlink-icon {
    font-size: 25px;
    color: #3A4667;
}

.navbar-separator {
    border: 1px solid #EEEEEE;
}

.home-after-search {
    position: relative;
    width: 350px;
}

.home-after-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 17px;
    text-indent: 20px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    line-height: 20px;
    height: 50px;
}

.home-after-search-input::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

.home-after-search-button {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background-color: #163AC7;
    color: white;
    box-shadow: none !important;
    margin: 1px;
    padding: 0 10px;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    width: 80px;
}

.home-after-search-button:hover {
    background-color: #1735ac;
    color: white;
    transition: 0.2s;
}

.home-after-search-button:active {
    background-color: #091841;
}

/* End of Navigation */


/* End of CSS for all page */

/* == Start of page : Home - Before Sign In == */

/* Headline Section */
#headline .headline-text {
    font-size: 3rem;
    font-family: 'space_grotesksemibold';
    color: #091841;
}

#headline .headline-desc {
    font-size: 16px;
    color: #9da3b3;
    line-height: 28px;
    padding-top: 15px;
    padding-bottom: 25px;
}

#headline .artist-icon {
    color: #163AC7;
    background-image: url(../images/square-point.png);
    background-size: 185px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 35px;
    background-repeat: no-repeat;
}

#headline .search {
    border: 1px solid #ced1d9;
    border-radius: 5px;
}

#headline .search input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #6b748d;
}

#headline .search input::placeholder {
    color: #9da3b3;
}

#headline .search input:focus {
    outline: none;
}

#headline .search i {
    color: #6b748d;
    font-size: 18px;
}

#headline .search-btn {
    color: white !important;
    background-color: #163AC7 !important;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'space_groteskmedium';
}

#headline .search-btn:hover {
    background-color: #091841 !important;
    transition: 0.2s;
}

#headline .trend-title {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

#headline .trend-tag {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    border: 1px solid #9da3b3;
    color: #3a4667;
}

#headline .trend-tag:hover {
    background-color: #163AC7;
    color: #FFF;
    transition: 0.2s;
}

/* End of Headline Section */

/* Category Section */
#category .small-title {
    text-align: center;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#category .title {
    font-family: 'space_grotesksemibold';
    font-size: 2.5rem;
    text-align: center;
    color: #091841;
}

#category .category-title {
    font-size: 1.3rem;
}

#category .artist-count {
    position: absolute;
    bottom: 20px;
    width: 85%;
    color: #9da3b3;
}

#category .artist-count>span {
    font-family: 'space_groteskmedium';
    color: #091841;
}

#category .artist-count>i {
    position: absolute;
    top: 1px;
    right: 0;
}

#category .card {
    height: 200px;
}

#category .card:hover {
    background-color: #f3f5fc;
    color: #163AC7 !important;
    border: 1px solid #163AC7;
    transition: 0.2s;
}

#category .small-title-below {
    color: #565656;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#category .btn-custom {
    font-family: 'space_groteskmedium';
    font-size: 0.9em;
    padding: 10px 28px;
    background-color: #163AC7;
    color: white;
}

#category .btn-custom:hover {
    background-color: #091841;
    transition: 0.2s;
}

/* End of Category Section */

/* Counter Section */
#counter .count-number {
    font-family: 'space_grotesksemibold';
    font-size: 60px;
    color: #091841;
}

#counter .count-title {
    font-family: 'space_groteskmedium';
    color: #9da3b3;
    font-size: 17px;
}

/* End of Counter Section */


/* Why Us Section */
#why-us .small-title {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#why-us .title {
    font-family: 'space_grotesksemibold';
    font-size: 2.5rem;
    color: #091841;
}

#why-us .custom-list {
    counter-reset: item;
    list-style-type: decimal-leading-zero;
}

#why-us .custom-list-item {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    line-height: 26px;
    color: #091841;
}

#why-us .list-title {
    font-size: 20px;
    line-height: 28px;
}

#why-us .list-desc {
    font-size: 15px;
    line-height: 28px;
    color: #9da3b3;
    padding-top: 10px;
}

/* End of Why Us Section */

/* Popular Section */
#popular .small-title {
    text-align: center;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#popular .title {
    font-family: 'space_grotesksemibold';
    font-size: 2.5rem;
    color: #091841;
    text-align: center;
}

#popular .popular-avatar {
    width: 100%;
}

#popular .artist-name {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
}

#popular .star-rating {
    font-size: 10px;
    color: #FFB81C;
    margin-bottom: 10px;
}

#popular .number-rating {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
    margin-bottom: 10px;
}

#popular .badge-available {
    font-size: 12px;
    color: #88c100;
    background-color: #f9fcf2;
}

#popular .badge-not-available {
    font-size: 12px;
    color: #ff6720;
    background-color: #fff7f4;
}

#popular .artist-title {
    font-size: 11px;
    line-height: 16px;
    color: #9da3b3;
}

#popular .category-badge {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    border: 1px solid #ced1d9;
}

#popular .category-badge:hover {
    background-color: #ced1d9;
    color: white;
    transition: 0.2s;
}

#popular .cost {
    border-top: 1px solid #e6e8ec;
    border-bottom: 1px solid #e6e8ec;
    padding-top: 10px;
    padding-bottom: 10px;
}

#popular .cost>span:first-child {
    font-size: 10px;
    color: #9da3b3;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #9E9E9E;
}

#popular .cost>span:nth-child(2) {
    font-size: 14px;
    font-family: 'space_groteskmedium';
    color: #091841;
}

#popular .btn-details {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #163AC7;
    color: #163AC7;
}

#popular .btn-details:hover {
    color: white;
}

#popular .small-title-below {
    color: #565656;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#popular .btn-custom {
    font-family: 'space_groteskmedium';
    font-size: 0.9em;
    padding: 10px 28px;
    background-color: #163AC7;
    color: white;
}

#popular .btn-custom:hover {
    background-color: #091841;
    transition: 0.2s;
}

/* End of Popular Section */

/* == End of page : Home - Before Sign In == */

/* How To Order Section */
#how-to-order .small-title {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#how-to-order .title {
    font-family: 'space_grotesksemibold';
    font-size: 2.5rem;
    color: #091841;
}

#how-to-order .order-number {
    font-family: 'space_grotesksemibold';
    font-size: 40px;
    padding: 5px 10px;
    background-color: #f3f5fc;
    color: #163AC7;
    max-width: auto;
}

#how-to-order .order-title {
    font-size: 22px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #091841;
}

#how-to-order .order-desc {
    font-size: 15px;
    color: #9da3b3;
    padding-right: 50px;
}

#how-to-order .border-right {
    border-right: 1px solid #e6e8ec;
}

/* End of How To Order Section */

/* Testimony Section */
#testimony .small-title {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
    text-align: center;
}

#testimony .title {
    font-family: 'space_grotesksemibold';
    font-size: 2.5rem;
    color: #091841;
    text-align: center;
}

#testimony .testi-desc {
    background-color: #F5FDFF;
    font-size: 18px;
    line-height: 32px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 5px;
}

#testimony .testi-img {
    width: 60px;
    margin-top: -40px;
    margin-left: 10px;
}

#testimony .testi-rating {
    color: #ffbf33;
    font-size: 0.6em;
    text-align: right;
}

#testimony .number-rating {
    font-family: 'space_groteskmedium';
    color: #9da3b3;
    font-size: 11px;
    text-align: right;
}

#testimony .testi-profile {
    margin-left: 10px;
}

#testimony .testi-profile>small {
    color: #aaaaaa;
}

/* End of Testimony Section */

/* Start Now Section */
#start-now .start-now-bg {
    background-image: url('../images/start-now-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

#start-now .start-now-text {
    color: white;
    padding-top: 200px;
    padding-left: 80px;
}

#start-now .start-now-text>h1 {
    font-family: 'space_grotesksemibold';
}

#start-now .start-now-text>p {
    filter: opacity(75%);
}

#start-now .start-now-text a {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #163AC7;
}

#start-now .btn-light:hover {
    background-color: #091841;
    transition: 0.2s;
    border: 1px solid #091841;
    color: #FFF;
}

/* End of Start Now Section */

/* Footer Section */
#footer .footer-desc {
    color: #6b748d;
    font-size: 15px;
}

#footer .title {
    font-family: 'space_groteskmedium';
    color: #091841;
    font-size: 17px;
    margin-bottom: 30px;
}

#footer .list {
    list-style-type: none;
    padding: 0;
}

#footer .list li {
    padding: 10px 0;
}

#footer .list li>a {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
    text-decoration: none;
}

#footer .copyright-text {
    font-size: 12px;
    color: #9da3b3;
}

#footer .other-text {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #6b748d;
    text-decoration: none;
}

#footer .social-icon {
    color: #3a4667;
    font-size: 1.1em;
    margin: 0 10px;
    padding: 4px 8px;
    border: 1px solid #e6e8ec;
    border-radius: 10px;
}

#footer .social-icon:hover {
    color: white;
    background-color: #3a4667;
    transition: 0.3s ease;
}

/* End of Footer Section */


/* Start of page : Home - After Sign In == */
/* Navigation : After Sign In */
.navbar-home-after {
    height: 100px;
}

.navbar-brand-img {
    width: 100px;
}

.navlink-icon {
    font-size: 25px;
    color: #3A4667;
}

.navbar-separator {
    border: 1px solid #EEEEEE;
}

.home-after-search {
    position: relative;
    width: 350px;
}

.home-after-search-input {
    width: 100%;
    border: 1px solid #CED1D9;
    border-radius: 6px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    text-indent: 20px;
    transition: 0.3s ease-out;
}

.home-after-search-input:focus {
    background-image: none;
    text-indent: 0;
    border: 1px solid #163AC7;
    transition: 0.3s ease-in;
}

.home-after-search-button {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background-color: #163AC7;
    color: white;
    box-shadow: none !important;
    margin: 1px;
    padding: 0 10px;
    border-radius: 6px;
}

.home-after-search-button:hover {
    background-color: #1735ac;
    color: white;
    transition: 0.2s;
}

.home-after-search-button:active {
    background-color: #091841;
}

/* Section : Card Welcome User */

.card-welcome-user {
    background-color: #F3F5FC;
    border: 1px solid #7389DD;
}

.card-order-status {
    border: 1px solid #D0D8F4;
}

.btn-check-order {
    border: 2px solid #2D4ECD;
    border-radius: 6px;
    padding: 10px 20px;
    color: #091841;
}

.btn-check-order:hover {
    background-color: #2D4ECD;
    color: #ffffff;
    transition: 0.3s ease-in;
}

.btn-check-order-wrapper {
    margin-top: -57px;
}

/* End Of Section : Card Welcome User */

/* Section : Best Recommendation */
.card-list-artist {
    width: 270px;
    border-radius: 6px;
}

.badge-ads {
    position: absolute;
    border: 1px solid #CED1D9;
    border-radius: 1px;
    background-color: #ffffff;
    padding: 1px 5px;
    margin-top: 67px;
    margin-left: 5px;
}

.badge-discount {
    position: absolute;
    background-color: #ff6720;
    color: white;
    height: 28px;
    padding: 5px 7px;
    border-radius: 4px;
    margin-left: -17px;
    margin-top: -17px;
}

.card-list-artist-artist-img {
    width: 90px;
}

.card-list-artist-artist-name {
    font-size: 17px;
    font-weight: 500;
}

.icon-star {
    font-size: 11px;
    color: #FFBF33;
}

.badge-available {
    font-size: 13px;
    color: #88C100;
    background-color: #F9FCF2;
    padding: 6px 8px;
    border-radius: 2px;
}

.badge-not-available {
    font-size: 13px;
    color: #FF6720;
    background-color: #FFF7F4;
    padding: 6px 8px;
    border-radius: 2px;
}

.card-list-artist-artist-profile-wrapper {
    padding-left: 107px;
}

.badge-category {
    font-weight: 500;
    border: 1px solid #CED1D9;
    padding: 8px 10px;
    border-radius: 2px;
}

.card-list-artist-price {
    border-top: 2px solid #E6E8EC;
    border-bottom: 2px solid #E6E8EC;
}

.card-list-artist-price-separator::after {
    content: '';
    display: inline-block;
    border-left: 2px solid #E6E8EC;
    height: 50px !important;
    position: absolute;
    margin-top: -13px;
}

.btn-details {
    display: block;
    font-weight: 500;
    border: 2px solid #2D4ECD;
    border-radius: 6px;
    color: #091841;
    padding: 10px;
}

.btn-details:hover {
    background-color: #2D4ECD;
    color: #ffffff;
    transition: 0.3s ease-in;
}

.btn-details:focus {
    box-shadow: none;
}

#recommended-by-others .btn-see-more {
    margin-top: -37px;
    color: #091841 !important;
}

.splide__arrow {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 100;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

/* End Of Section : Best Recommendation */

/* == End of page : Home - After  Sign In */

/* == Start of page : Search Result == */
.search-result-card {
    border-radius: 6px;
}

#search-result-card-wrapper .dropdown-toggle {
    color: #091841;
}

#search-result-card-wrapper .nice-select.wide {
    width: 100%;
}

#search-result-card-wrapper .nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

#search-result-card-wrapper .nice-select {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 85px;
}

#search-result-card-wrapper .nice-select:after {
    border-bottom: 2px solid #091841;
    border-right: 2px solid #091841;
    height: 12px;
    width: 11.9px;
    right: 24px;
    top: 45%;
}

#search-result-card-wrapper .category-filter {
    width: 100%;
    padding: 0;
}

#search-result-card-wrapper .select2-container--default .select2-selection--single {
    min-height: 64px;
    padding: 16px 10px;
    border: 1px solid #ced1d9;
    border-radius: 6px;
}

#search-result-card-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
}

#search-result-card-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 20px;
    right: 20px;
}

#search-result-card-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(../images/icon/down-chevron.png);
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 18px !important;
    width: 18px !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
}

#search-result .select2-dropdown {
    border: 1px solid #ced1d9;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

#search-result .select2-container--open .select2-dropdown--below {
    margin-top: 20px;
    border-top: 1px solid #ced1d9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 360px;
    padding: 10px;
}

#search-result .select2-results {
    margin-top: 20px;
}

#search-result .select2-search--dropdown {
    display: block;
    padding: 0;
}

#search-result .select2-search--dropdown .select2-search__field {
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#search-result .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

#search-result .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced1d9;
    border-radius: 2px;
}

#search-result .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f3f5fc;
    color: #091841;
    transition: 0.1s;
}

/*#search-result-dropdown .dropdown-toggle {
    width: 100%;
    height: 70px;
    text-align: left;
    background-color: #ffffff;
    color: #091841;
    border: 1px solid #CED1D9;
    border-radius: 6px;
    padding: 10px 20px;
}

#search-result-dropdown .dropdown-toggle:focus {
    outline: none;
    border: 1px solid #163AC7;
}*/

#search-result-card-wrapper .search-result-card {
    height: 85px;
}

/*#search-result-dropdown .dropdown-item:hover {
    background-color: #F3F5FC;
    color: #000000;
}

#search-result-dropdown .dropdown-item.active {
    background-color: transparent;
    color: #000000;
}

#search-result-dropdown .dropdown-item.active:hover {
    background-color: #F3F5FC;
    color: #000000;
}*/

#search-result-card-wrapper .select2-selection.select2-selection--single {
    transition: 0.3s ease-out;
}

#search-result-card-wrapper .select2-selection.select2-selection--single:focus {
    outline: none;
    border: 1px solid #163AC7 !important;
    transition: 0.3s ease-in;
}

.search-category {
    transition: 0.3s ease-out;
}

.search-category-input:focus {
    border: 1px solid #163AC7;
    color: #091841;
    transition: 0.3s ease-in;
}

.jumbotron-search-result {
    background-color: #2D4ECD;
    height: 172px;
    background-image: url('../images/background/background-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.form-search-result-input {
    width: 500px !important;
    border: 0;
    border-radius: 6px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    text-indent: 20px;
}

.form-search-result-input:focus {
    box-shadow: none;
}

#search-result-filter .custom-control-label {
    padding-top: 2px;
}

#search-result-filter .custom-control-input+.custom-control-label {
    color: #6B748D;
}

#search-result-filter .custom-control-input:checked+.custom-control-label {
    color: #091841;
}

#search-result-filter .btn-reload-category {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #163AC7;
    border-bottom: 1px solid #163AC7;
}

#search-result-filter .btn-reload-category:hover {
    text-decoration: none;
}

#search-result-pagination .page-link {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    box-shadow: none;
    color: #9F9F9F;
}

#search-result-pagination .page-item.active .page-link {
    background-color: #163AC7;
    color: #ffffff;
}

#price-slider .ui-slider-horizontal {
    margin-left: 10px;
    width: 82%;
    height: .2em;
}

#price-slider .ui-corner-all {
    border-radius: 10px;
}

#price-slider .ui-widget.ui-widget-content {
    border: none;
    background-color: #ced1d9;
}

#price-slider .ui-widget-header {
    border: none;
    background: #163ac7;
}

#price-slider .ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

#price-slider .ui-state-default,
#price-slider .ui-widget-content .ui-state-default,
#price-slider .ui-widget-header .ui-state-default,
#price-slider .ui-button,
#price-slider .ui-button.ui-state-disabled:hover,
#price-slider .ui-button.ui-state-disabled:active {
    border: 3px solid #163ac7;
    background: #fff;
}

#price-slider .ui-state-hover,
#price-slider .ui-widget-content .ui-state-hover,
#price-slider .ui-widget-header .ui-state-hover,
#price-slider .ui-state-focus,
#price-slider .ui-widget-content .ui-state-focus,
#price-slider .ui-widget-header .ui-state-focus,
#price-slider .ui-button:hover,
#price-slider .ui-button:focus {
    border: 3px solid #163ac7;
    background: #163ac7;
    transition: .1s;
    outline: none;
}

#price-slider .ui-state-active,
#price-slider .ui-widget-content .ui-state-active,
#price-slider .ui-widget-header .ui-state-active,
#price-slider a.ui-button:active,
#price-slider .ui-button:active,
#price-slider .ui-button.ui-state-active:hover {
    border: 3px solid #163ac7;
    background: #163ac7;
    transition: .1s;
}


#slider-price-text {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#slider-price-text input {
    border: none;
    padding: 0;
    width: 90px;
}

/* == End of page : Search Result == */


/* == Start of page : Artist Portfolio - Client View == */
/* Section: Profile  */
#profile .profile-header {
    background-image: url(../images/background/profile-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2D4ECD;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 70px;
    padding-top: 100px;
}

#profile .profile-avatar {
    width: 100px;
    border-radius: 5px;
}

#profile .btn-profile {
    font-size: 12px;
    float: right;
    width: 100px;
    color: #3A4667;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 3px;
    background-color: white;
}

#profile .btn-profile:hover {
    filter: brightness(85%);
    transition: 0.2s;
}

#profile .profile-status {
    position: absolute;
    margin-top: 65px;
    margin-left: 20px;
    color: #88C100;
    font-size: 12px;
}

#profile .user-name {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #091841;
    line-height: 40px;
}

#profile .user-tagline {
    font-size: 15px;
    color: #9da3b3;
}

#profile .star-rating {
    font-size: 12px;
    color: #ffbf33;
    margin-bottom: 10px;
}

#profile .number-rating {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
}

#profile .subtitle {
    color: #9da3b3;
    font-size: 12px;
}

#profile .user-desc {
    color: #9da3b3;
    font-size: 15px;
    line-height: 28px;
}

#profile .btn-category {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #3A4667;
    border: 1px solid #CED1D9;
}

#profile .btn-category:hover {
    color: #FFF;
    background-color: #3A4667;
    transition: 0.2s;
}

#profile .modal-report {
    padding: 36px;
}

#profile .modal-head {
    border-bottom: 1px solid #e6e8ec;
    padding-bottom: 10px;
}

#profile .modal-title {
    font-family: 'space_groteskmedium';
    font-size: 20px;
    color: #091841;
}

#profile .modal-subtitle {
    font-size: 13px;
    line-height: 28px;
    color: #9da3b3;
    margin-top: 8px;
}

#profile .report-reason label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
    margin-bottom: 15px;
}

#profile .report-reason textarea {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
    line-height: 28px;
}

#profile .report-reason textarea:focus {
    box-shadow: none;
}

#profile .report-reason textarea::placeholder {
    font-size: 15px;
    color: #9da3b3;
    line-height: 28px;
}

#profile .report-label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#profile .modal-btn-close {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #2d4ecd;
    color: #091841;
    font-family: 'space_groteskmedium';
    font-size: 15px;
}

#profile .modal-btn-close:hover {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #2d4ecd;
    color: #FFF;
    background-color: #2d4ecd;
    font-family: 'space_groteskmedium';
    font-size: 15px;
}

#profile .modal-btn-report {
    width: 100%;
    padding: 16px 0;
    color: #FFF;
    background-color: #2d4ecd;
    font-family: 'space_groteskmedium';
    font-size: 15px;
}

#profile .modal-btn-report:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#profile .modal-btn-report:disabled {
    color: #FFF !important;
    background-color: #e6e8ec !important;
}

#profile .dropzone {
    border: 2px dashed #ced1d9;
}

#profile .drop-message {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 15px;
    line-height: 28px;
}

#profile .drop-message b {
    color: #091841;
}

#profile .drop-message-small {
    color: #9da3b3;
    font-size: 12px;
    line-height: 20px;
}

#profile .report-success-img {
    width: 150px;
}

#profile .report-success-text {
    font-size: 20px;
    line-height: 32px;
    color: #091841;
}

/* End of Section: Profile  */

/* Section: Artwork */
#artwork .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#artwork .all-artwork {
    font-size: 15px;
    float: right;
    color: #163AC7;
    text-decoration: none;
}

#artwork .thumbnail-image {
    width: 100%;
    padding: 5px;
}

#artwork .modal-avatar {
    width: 80%;
}

#artwork .modal-artwork-title {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #091841;
}

#artwork .modal-username {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
    color: #9da3b3;
}

#artwork .btn-like {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #3a4667;
    background-color: #f3f3f5;
    padding: 12px 23px;
    border-radius: 5px;
}

#artwork .btn-like>i {
    font-size: 15px;
    color: #9da3b3;
    margin-right: 10px;
}

#artwork .btn-like-click {
    font-family: 'space_grotesksemibold';
    font-size: 15px;
    color: #e7437c;
    background-color: #fff0f5;
    padding: 12px 23px;
    border-radius: 5px;
}

#artwork .btn-like-click>i {
    font-size: 15px;
    color: #e7437c;
    margin-right: 10px;
}

#artwork .artwork-large {
    width: 100%;
}

#artwork .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#artwork .btn-tag:hover {
    color: #FFF;
    background-color: #3a4667;
    transition: 0.2s;
}

#artwork .artwork-desc {
    font-size: 18px;
    color: #6b748d;
}

#artwork .text-tag {
    font-family: 'space_groteskmedium';
    font-size: 16px;
    color: #091841;
}

/* End of Section: Artwork  */

/* Section: Client Review */
#client-review .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#client-review .star-rating {
    font-size: 10px;
    color: #ffbf33;
    margin-bottom: 10px;
}

#client-review .star-rating-empty {
    font-size: 10px;
    color: #9DA3B3;
    margin-bottom: 10px;
}

#client-review .number-rating {
    font-family: 'space_grotesksemibold';
    font-size: 11px;
    color: #9da3b3;
}

#client-review .nice-select {
    float: right;
    width: 180px;
    height: 50px;
    padding-top: 3px;
    font-size: 14px;
    font-family: "space_grotesksemibold";
    border: 1px solid #ced1d9;
}

#client-review .nice-select>.list {
    width: 180px;
}

#client-review .artist-no-review {
    text-align: center;
    padding: 40px 0;
}

#client-review .artist-no-review span {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    font-weight: 500;
}

#client-review .artist-no-review p {
    margin-top: 16px;
    font-size: 15px;
    line-height: 28px;
    color: #9da3b3;
}

#client-review .review-tag {
    margin-bottom: 50px;
}

#client-review .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#client-review .btn-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    transition: 0.2s;
}

#client-review .review-avatar {
    width: 75%;
    border-radius: 50%;
}

#client-review .review-username {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    font-weight: 500;
    color: #091841;
}

#client-review .review-time {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #CED1D9;
}

#client-review .review-content {
    font-size: 13px;
    line-height: 28px;
    color: #9DA3B3;
}

/* End of Section: Client Review */

/* Section: Artist Price */
#price .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#price .price-range {
    font-family: 'space_groteskmedium';
    color: #9DA3B3;
}

#price .price-label {
    color: #9da3b3;
    font-size: 10px;
}

#price .price-tag {
    color: #091841;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
}

#price .nice-select {
    height: 60px;
    padding-top: 10px;
    font-size: 12px;
    font-family: "space_grotesksemibold";
    border: 1px solid #ced1d9;
}

#price .nice-select:focus {
    border: 1px solid #163ac7;
    background-color: #f3f5fc;
}

#price .nice-select .list>li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 4px;
}

#price .nice-select .list>li:hover {
    background-color: #f3f5fc;
}

#price .nice-select .option.selected.focus {
    background-color: #f3f5fc;
}

#price .btn-select-package {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    width: 100%;
    color: #FFF;
    background-color: #163ac7;
    padding: 15px 0;
}

#price .btn-select-package:hover {
    background-color: #091841;
    color: #FFF;
    transition: 0.2s;
}

#price .btn-select-package:disabled {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    width: 100%;
    color: #FFF;
    background-color: #E6E8EC;
    padding: 15px 0;
    pointer-events: none;
}

#price .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#price .btn-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    transition: 0.2s;
}

#price .artwork-example {
    margin-top: 10px;
    margin-bottom: 20px;
}

#price .artwork-example img {
    padding: 4px;
}

#price .package-terms {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #6b748d;
}

#price .include-text>span {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#price .include-text li {
    font-size: 12px;
    color: #9da3b3;
    margin: 10px 0;
}

#price .include-text i {
    font-size: 12px;
    color: #88c100;
}

/* End of Section: Artist Price */

/* Section: Contact Artist */
#contact-artist .contact-title {
    color: #9DA3B3;
    font-size: 12px;
}

#contact-artist .contact-detail {
    color: #091841;
    font-size: 14px;
    color: #091841;
    font-weight: bold;
    margin-top: 5px;
}

#contact-artist .btn-chat {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    width: 100%;
    color: #091841;
    border: 1px solid #2D4ECD;
    padding: 15px 0;
}

#contact-artist .btn-chat:hover {
    background-color: #2D4ECD;
    color: #FFF;
    transition: 0.2s;
}

/* End of Section: Contact Artist */

/* Section: Coupon */
#coupon .title {
    font-family: 'space_groteskmedium';
    font-size: 18px;
    line-height: 28px;
    color: #091841;
}

#coupon .coupon-item {
    border: 1px dotted #9da3b3;
    border-radius: 3px;
}

#coupon .right-border-dot {
    border-right: 1px dotted #9da3b3;
}

#coupon .discount-icon {
    margin-top: 10px;
    width: 32px;
}

#coupon .discount-title {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    margin-top: 10px;
    color: #091841;
}

#coupon .discount-detail {
    color: #6b748d;
    font-size: 12px;
}

#coupon .discount-terms {
    color: #9da3b3;
    font-size: 12px;
}

#coupon .discount-code-title {
    color: #CED1D9;
    font-size: 10px;
}

#coupon .discount-code {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #ff6720;
    float: right;
    text-decoration: none;
    padding-top: 3px;
}

#coupon .copy-icon {
    color: #9da3b3;
    margin-left: 2px;
}

/* End of Section: Coupon */


/* == End of page : Artist Portfolio - Client View == */

/* == Start of Page : Artist Portfolio - All Artwork */

.back-button {
    color: #3a4667 !important;
    font-size: 30px;
    text-decoration: none;
}

.all-artwork-username {
    font-family: 'space_groteskmedium';
    font-size: 22px;
    color: #091841;
}

#all-artwork .nice-select {
    float: right;
    width: 180px;
    height: 50px;
    padding-top: 8px;
    font-size: 14px;
    font-family: "space_grotesksemibold";
    border: 1px solid #ced1d9;
}

#all-artwork .nice-select>.list {
    width: 180px;
}

#art-package-tab a.nav-link {
    padding: 0;
    margin-right: 80px;
    font-family: 'space_groteskmedium';
    font-size: 17px;
    color: #9da3b3;
}

#art-package-tab a.active {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    color: #163ac7;
    background-color: transparent;
}

#art-package-tab-content .modal-avatar {
    width: 80%;
}

#art-package-tab-content .modal-artwork-title {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #091841;
}

#art-package-tab-content .modal-username {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
    color: #9da3b3;
}

#art-package-tab-content .artwork-large {
    width: 100%;
}

#art-package-tab-content .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#art-package-tab-content .btn-tag:hover {
    color: #FFF;
    background-color: #3a4667;
    transition: 0.2s;
}

#art-package-tab-content .artwork-desc {
    font-size: 18px;
    color: #6b748d;
}

#art-package-tab-content .text-tag {
    font-family: 'space_groteskmedium';
    font-size: 16px;
    color: #091841;
}

#tab-art img {
    width: 100%;
    padding: 5px;
}

#tab-art .request-artwork {
    width: 100%;
    background-color: #f3f5fc;
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    border: 1px solid #163ac7;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    padding-top: 80px;
}

#tab-art .btn-request {
    background-color: #163ac7;
    color: #FFF;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    line-height: 26px;
    margin-top: 15px;
}

#tab-art .btn-request:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

.btn-filter-artwork {
    font-size: 14px;
    font-family: "space_grotesksemibold";
    line-height: 26px;
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 30px;
}

.btn-filter-artwork:focus {
    box-shadow: none;
}

.btn-filter-artwork>option {
    font-family: "space_groteskmedium";
    font-size: 14px;
}

#tab-package .art-big-image {
    margin-bottom: 5px;
    width: 100%;
    height: 260px;
    overflow: hidden;
    background-color: red;
}

#tab-package .art-big-image img {
    width: 100%;
}

#tab-package .art-small-image {
    width: 100%;
    padding: 2px;
}

#tab-package .art-card {
    border: 1px solid #e6e8ec;
    border-radius: 5px;
    padding-top: 30px;
    text-align: center;
}

#tab-package .art-card>span {
    font-family: "space_groteskmedium";
    font-size: 18px;
    color: #091841;
}

#tab-package .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#tab-package .select-package {
    font-family: "space_groteskmedium";
    font-size: 13px;
    background-color: #163ac7;
    color: #FFF;
    padding: 14px;
    width: 80%;
}

#tab-package .select-package:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

/* == End of page : Artist Portfolio - All Artwork == */

/* == Start of page : Order Details == */
#order-detail .category-and-detail {
    padding-left: 160px;
}

#order-status .border-top-and-bottom,
#order-detail .border-top-and-bottom {
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
}

#order-status .border-img {
    margin-top: -30px;
}

#order-status .status {
    margin-top: -25px;
}

#order-status .separator {
    border: 1px solid #E6E8EC;
}

#order-status .checked-icon {
    vertical-align: middle;
    margin-top: -8px;
}

#order-detail .checked-icon,
span {
    vertical-align: middle;
}

#instructions-for-artists .text-area {
    height: 145px;
    border: 1px solid #CED1D9;
    padding-top: 15px;
    padding-left: 15px;
    transition: 0.3s ease-out;
}

#instructions-for-artists .text-area:focus {
    border: 1px solid #163AC7;
    transition: 0.3s ease-in;
}

#instructions-for-artists .text-area::-webkit-resizer {
    display: block;
    background-image: url('../images/icon/textarea-resize-icon.svg');
}

#other-extras .custom-control-label {
    padding-top: 2px;
}

#other-extras .quantity {
    border: 1px solid #E6E8EC;
    width: 40px;
    height: 40px;
}

#order-summary .card-order-summary {
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#order-summary .card-artist {
    height: 93px;
    border: 1px solid #E6E8EC;
    border-radius: 6px;
}

#order-summary .img-artist {
    width: 50px;
    border-radius: 4px;
}

#order-summary .fa-star {
    color: #FFB81C;
}

#order-summary .btn-chat-artist {
    border: 1px solid #2D4ECD;
    border-radius: 6px;
}

#order-summary .btn-chat-artist:hover {
    background-color: #163AC7;
    color: white;
    transition: 0.3s ease-in;
}

.counter-icon {
    font-size: 1.4rem;
    color: #091841;
}

.enter-promo-code-input {
    width: 100%;
    border: 1px solid #E6E8EC;
    border-radius: 2px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    height: 50px;
    transition: 0.3s ease-out;
}

.enter-promo-code-input::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

.enter-promo-code-input:focus {
    border: 1px solid #163AC7;
    transition: 0.3s ease-in;
}

.btn-enter-promo-code {
    position: absolute;
    right: 18px;
    margin-top: 15px;
    border: 0;
    box-shadow: none !important;
    padding: 0 10px;
    border-radius: 6px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    width: 80px;
}

.popover {
    background-color: black;
    border-radius: 4px;
    margin-top: -10px;
    margin-right: 80px;
}

.arrow::after,
.bs-popover-bottom .arrow::after {
    border-bottom-color: black !important;
}

.popover-body {
    color: white;
}

#order-summary .btn-next {
    height: 50px;
    border-radius: 6px;
    transition: 0.3s ease-out;
    background-color: #163ac7;
    color: #FFF;
}

#order-summary .btn-next:hover {
    background-color: #091841;
}

#order-summary .btn-next:disabled {
    background-color: #e6e8ec;
}

#order-summary .star-icon {
    font-size: 13px;
}

/* == End of page : Order Details == */

/* == Start of page : Payment == */
#choose-payment-type .btn-payment-type {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #E6E8EC;
    border-radius: 2px;
    padding-left: 34px;
}

#choose-payment-type .btn-payment-type:focus {
    background-color: #F3F5FC;
    border: 1px solid #163AC7;
}

#choose-payment-type .btn-payment-type.bca {
    padding-top: 30px;
}

#choose-payment-type .btn-payment-type.bni,
.gopay {
    padding-top: 25px;
}

/* Start of page : Payment Successful */
#payment-status .btn-check-order-now {
    background-color: #163AC7;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px 50px;
}

/* End of page : Payment Successful */

/* Start of page : Payment Failed */
#payment-status .btn-back-to-home {
    background-color: #163AC7;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px 110px;
}

/* End of page : Payment Failed */

/* Start of page : Waiting Payment */
#payment-status .btn-pay-order {
    background-color: #163AC7;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px 110px;
}

/* End of page : Waiting Payment */

#payment-status .btn-check-order-now:hover {
    color: #ffffff;
}

/* End of page : Payment Successful */

/* == Start of page : Sign In & Register == */
.button-back {
    text-decoration: none;
    color: #9da3b3;
    font-size: 26px;
    margin-top: 20px;
}

.button-back:hover {
    color: #091841;
}

.login-image {
    height: 100vh;
    background-color: #f3f5fc;
    text-align: center;
}

.login-image img {
    width: 582px;
}

.register-image {
    background-color: #f3f5fc;
    text-align: center;
}

.register-image img {
    width: 582px;
}

.big-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'space_grotesksemibold';
    font-size: 40px;
    color: #091841;
}

.subtitle {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #9da3b3;
}

#tab-button {
    width: 194px;
    border: 1px solid #e6e8ec;
    border-radius: 4px;
    padding: 7px;
    margin-top: 10px;
}

#sign-in-tab .nav-link {
    font-family: 'space_groteskregular';
    font-size: 13px;
    color: #9da3b3;
    border-radius: 4px;
    padding: 10px 22px;
}

#sign-in-tab .active {
    color: #FFF;
    background-color: #163ac7;
}

#sign-in-tab .nav-divider {
    border-right: 1px solid #e6e8ec;
    margin-left: 10px;
    margin-right: 10px;
}

#login-form {
    width: 70%;
}

#login-form .form-group>label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#login-form .form-group>input.form-control {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    line-height: 28px;
    color: #091841;
    height: 70px;
    padding: 0 25px;
}

#login-form .form-group>input.form-control::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    line-height: 28px;
    color: #9da3b3;
}

#login-form .error-text {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #ca3604;
}

#login-form .warning-text {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: orange;
}

#login-form .error-input {
    border: 1px solid #ca3604;
}

#login-form .form-group>label.form-check-label {
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #6b748d;
}

#login-form .forgot-pass {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #222f54;
    float: right;
}

#login-form .forgot-pass:hover {
    text-decoration: none;
}

#login-form .btn-login {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #FFF;
    background-color: #163ac7;
    width: 100%;
    height: 60px;
}

#login-form .btn-login:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#login-form .register-now-text {
    width: 100%;
    text-align: center;
}

#login-form .register-now-text small {
    font-size: 12px;
    color: #9da3b3;
}

#login-form .register-now-text a {
    font-family: 'space_grotesksemibold';
    color: #222f54;
}

#login-form .register-now-text a:hover {
    text-decoration: none;
}

#set-up .first-step {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #000;
}

#set-up .second-step {
    font-family: 'space_groteskmedium';
    font-size: 26px;
    color: #000;
}

#set-up .first-step>span:nth-child(2) {
    color: #ced1d9;
}

#set-up .set-up-form {
    width: 75%;
}

#set-up .set-up-form label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#set-up .set-up-form input[name=cost] {
    display: none;
}

#set-up .set-up-form>.cost-item {
    width: 100%;
    padding: 18px;
    border: 1px solid #e6e8ec;
    border-radius: 6px;
}

#set-up .cost-item>span {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}

.item-selected {
    border: 1px solid #163ac7 !important;
    background-color: #f3f5fc !important;
    transition: 0.2s;
}

.text-selected {
    color: #000 !important;
    font-family: 'space_grotesksemibold' !important;
    transition: 0.2s;
}

/* Select2 Style Overriding - Start */

#set-up-body .select2-container .select2-selection--multiple {
    min-height: 95px;
    padding: 9px 10px;
}

#set-up-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #163ac7 1px;
    border-radius: 4px;
}

#set-up-body .select2-container .select2-search--inline .select2-search__field {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#set-up-body .select2-container .select2-search--inline .select2-search__field::placeholder {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

#set-up-body .select2-container--default .select2-results>.select2-results__options {
    overflow-y: hidden;
    max-height: 175px;
}

#set-up-body .select2-dropdown {
    border: 1px solid #ced1d9;
    padding: 5px 6px;
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #9da3b3;
}

#set-up-body .select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #ced1d9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#set-up-body .select2-container--open .select2-dropdown--below {
    border-top: 1px solid #ced1d9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#set-up-body .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    margin-top: 10px;
}

#set-up-body .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    margin-bottom: 10px;
}

#set-up-body .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f3f5fc;
    color: #091841;
    transition: 0.1s;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3a4667;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    border-right: none;
}

#set-up-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #FFF;
    background-color: #3a4667;
}

/* Select2 Style Overriding - End */

#set-up .select-tag {
    height: 200px;
}

#set-up .trend-text {
    font-family: 'space_groteskmedium';
    font-size: 13px;
    color: #9da3b3;
}

#set-up .trend-tag {
    font-family: 'space_grotesksemibold';
    font-size: 13px;
    color: #3a4667;
    border: 1px solid #ced1d9;
    padding: 7px 20px;
    margin-bottom: 7px;
}

#set-up .trend-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s;
}

#set-up .btn-next {
    width: 100%;
    background-color: #163ac7;
    color: #FFF;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    height: 60px;
    border-radius: 6px;
}

#set-up .btn-next:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#set-up .btn-next:disabled {
    background-color: #e6e8ec;
}

#set-up .btn-skip {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
    margin-top: 20px;
}

/* == End of page : Sign In & Register == */

/* == Side Nav == */
/* Card Artist */
#side-nav .card-artist {
    background-color: #F3F5FC;
    border-radius: 6px;
}

/* End Of Card Artist */

/* Nav Menu */
#sidenav-menu .nav-link {
    color: #6B748D;
}

#sidenav-menu .nav-link.active svg path {
    fill: #163AC7;
    vertical-align: middle;
}

#sidenav-menu .nav-link.active {
    color: #4561D2;
}

#sidenav-menu .nav-link.active::after {
    content: '';
    border-right: 2px solid #163AC7;
    border-radius: 1px;
    height: 20px;
    float: right;

}

/* End Of Nav Menu */
/* == End Of Side Nav == */

/* == Dashboard All Style == */
.sidenav-content {
    background-color: #FAFCFF;
    padding-top: 45px;
    padding-bottom: 45px;
}

.card-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 16px;
    border: solid 1px #f3f3f5;
    border-radius: 15px;
}

.dashboard-content-title {
    line-height: 28px;
    color: #091841;
}

.dashboard-content-subtitle {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    line-height: 28px;
    color: #091841;
    margin-left: 50px;
}

.dashboard-content-subtitle b {    
    font-weight: normal;
    color: #9da3b3;
    margin-top: -10px;
}

.search-box {    
    width: 250px;
}

.search-box-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 10px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/icon/search-icon.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 17px;
    text-indent: 20px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    line-height: 20px;
    height: 50px;
}

.search-box-input::placeholder {
    color: #9da3b3;
}

.notification-yellow {
    background-color: #fffbf4;
    border: 1px solid #ffb81c;
    border-radius: 4px;
    padding: 13px 26px;
    margin-bottom: 16px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

.notification-orange {
    background-color: #fcf5f2;
    border: 1px solid #ca3604;
    border-radius: 4px;
    padding: 13px 26px;
    margin-bottom: 16px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

.notification-green {
    background-color: #f9fcf2;
    border: 1px solid #88c100;
    border-radius: 4px;
    padding: 13px 26px;
    margin-bottom: 16px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

.notification-text {
    color: #6b748d;
    font-size: 13px;
}

.notification-text b {
    color: #091841;
}

.notification-btn-blue {
    background-color: #163ac7;
    color: #FFF;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notification-btn-blue:hover {
    background-color: #091841;
    color: #FFF;
    transition: .2s;
}

.notification-btn-white {
    border: 1px solid #2d4ecd;
    background-color: #FFF;
    color: #091841;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notification-btn-white:hover {
    background-color: #091841;
    color: #FFF;
    transition: .2s;
}

.notification-btn-white:disabled {
    border: 1px solid #e6e8ec;
    background-color: #e6e8ec;
    color: #FFF;
}

.notification-link {
    text-decoration: underline;
    color: #163ac7;
}

.btn-cancel {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    border: 1px solid #163AC7;
    width: 100%;
    height: 55px;
}

.close {
    color: #ced1d9;
    transition: .2s;
}

.btn-cancel:hover {
    background-color: #163AC7;
    color: #FFF;
    transition: 0.2s;
}

.btn-modal-change {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    background-color: #163AC7;
    color: #fff;
    width: 100%;
    height: 55px;
}

.btn-modal-change:hover {
    background-color: #091841;
    color: #FFF;
    transition: .2s;
}

.btn-modal-change:disabled {
    background-color: #e6e8ec;
    color: #fff;
    width: 100%;
    height: 60px;
}

.custom-modal-title {
    font-size: 20px;
    font-family: 'space_groteskmedium';
    color: #091841;
}

.custom-modal-subtitle {
    font-size: 15px;
    font-family: 'space_groteskmedium';
    line-height: 28px;
    color: #9da3b3;
}

.custom-modal-desc {
    font-size: 13px;
    line-height: 28px;
    color: #9da3b3;
}

.custom-modal-btn {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    background-color: #163ac7;
    color: #FFF;
    padding: 16px 90px;
}

.custom-modal-btn-w {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    border: 1px solid #163ac7;
    background-color: #FFF;
    color: #091841;
    padding: 16px 90px;
}

.custom-modal-btn:hover {
    background-color: #091841;
    color: #FFF;
    transition: .2s;
}

.custom-modal-btn-w:hover {
    background-color: #163ac7;
    color: #FFF;
    transition: .2s;
}

.back-btn {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #3a4667;
    font-size: 1em;
}

.back-btn img {
    width: 25px;
    padding-bottom: 7px;
}

.back-btn:hover {
    text-decoration: none;
    color: #3a4667;
}

.tag-dark {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #091841;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}

.tag-yellow {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #ffb81c;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}

.tag-blue {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #163ac7;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}

.tag-orange {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #ff6720;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}

.tag-green {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #3395A0;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}

.tag-red {
    font-size: 12px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: #ca3604;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
}
/* == End of Dashboard All Style == */

/* == Sidenav : Dashboard - Profile == */
#sidenav-content-profile-and-account .card-nav {
    height: 80px;
    border: 1px solid #CED1D9;
    border-radius: 6px;
}

#sidenav-content-profile-and-account .card-nav .nav-link {
    color: #9DA3B3;
}

#sidenav-content-profile-and-account .card-nav .nav-link.active {
    color: #163AC7;
}

#sidenav-content-profile-and-account .card-nav .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 1px solid #163AC7;
    width: 35px;
    margin: auto;
}

#sidenav-content-profile .card-my-account,
.card-your-need {
    border: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
}

#sidenav-content-profile .form-my-account {
    height: 55px;
    background-color: #F3F3F5;
    border: 2px solid #E6E8EC;
    border-radius: 4px;
    color: #9DA3B3;
    font-family: 'space_groteskmedium';
}

.aa {
    position: absolute;
    right: 30px;
    top: 355px;
    color: #091841 !important;
    margin: 1px;
    padding: 0 10px;
    font-family: 'space_groteskmedium';
    font-size: 15px;
    opacity: 100 !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 100);
}

#card-your-need .btn-change-category {
    position: absolute;
    right: 55px;
    top: 125px;
    color: #091841 !important;
    margin: 1px;
    padding: 0 10px;
    font-size: 13px;
    opacity: 100 !important;
}

#card-your-need .btn-change-budget {
    position: absolute;
    right: 55px;
    top: 225px;
    color: #091841 !important;
    margin: 1px;
    padding: 0 10px;
    font-size: 13px;
    opacity: 100 !important;
}

#card-your-need .btn-category {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #3A4667;
    border: 1px solid #CED1D9;
}

#card-your-need .form-budget {
    height: 55px;
    background-color: #F3F3F5;
    border: 1px solid #60656e3a;
    border-radius: 4px;
}

#changePassword .form-change-password {
    height: 65px;
    border: 1px solid #CED1D9;
    border-radius: 4px;
}

#changePassword .form-change-password::placeholder {
    font-family: 'space_groteskmedium';
    color: #9DA3B3;
}

#changePassword .modal-btn-close {
    color: #091841;
    border: 1px solid #2D4ECD;
    border-radius: 6px;
}

#changePassword .modal-btn-close:hover {
    background-color: #163AC7;
    color: #ffffff;
}

#changePassword .btn-change-password {
    background-color: #163AC7;
    color: #ffffff;
    border-radius: 6px;
}

#card-content-your-need .card-subtitle {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#card-content-your-need .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#card-content-your-need .btn-tag:hover {
    background-color: #3a4667;
    color: #FFF;
    transition: .2s;
}

#card-content-your-need .btn-change {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
    text-decoration: none;
}

#card-content-your-need .budget-container {
    height: 60px;
    border: 1px solid #e6e8ec;
    background-color: #f3f3f5;
    border-radius: 5px;
    padding: 18px;
}

#card-content-your-need .budget-text {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #9da3b3;
}

/* Select2 Style Overriding - Start */
#dashboard-body .select2-container.select2-container--default {
    width: 100% !important;
}

#dashboard-body .select2-container .select2-selection--multiple {
    min-height: 95px;
    padding: 9px 10px;    
}

#dashboard-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #163ac7 1px;
    border-radius: 4px;
}

#dashboard-body .select2-container .select2-search--inline .select2-search__field {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #091841;
}

#dashboard-body .select2-container .select2-search--inline .select2-search__field::placeholder {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 14px;
}

#dashboard-body .select2-container--default .select2-results>.select2-results__options {
    overflow-y: hidden;
    max-height: 175px;
}

#dashboard-body .select2-dropdown {
    border: 1px solid #ced1d9;
    padding: 5px 6px;
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #9da3b3;
}

#dashboard-body .select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #ced1d9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dashboard-body .select2-container--open .select2-dropdown--below {
    border-top: 1px solid #ced1d9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#dashboard-body .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    margin-top: 10px;
}

#dashboard-body .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    margin-bottom: 10px;
}

#dashboard-body .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f3f5fc;
    color: #091841;
    transition: 0.1s;
}

#dashboard-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3a4667;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#dashboard-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    border-right: none;
}

#dashboard-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #FFF;
    background-color: #3a4667;
}
/* Select2 Style Overriding - End */

#changeBudget .set-up-form label {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#changeBudget .set-up-form input[name=cost] {
    display: none;
}

#changeBudget .set-up-form>.cost-item {
    width: 100%;
    padding: 18px;
    border: 1px solid #e6e8ec;
    border-radius: 6px;
}

#changeBudget .cost-item>span {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #9da3b3;
}
/* == End of page : Dashboard - Profile == */


/* == Start of page : Dashboard - Pesanan == */
#order-filter {
    width: 100%;
    display: inline-block;
}

#order-filter .filter-btn {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
}

#order-filter .filter-btn:focus {
    box-shadow: none;
}

#order-filter .filter-btn.active {
    color: #091841;
}

#order-filter .badge {
    width: 30px;
    height: 20px;
    background-color: #f3f5fc;
    border-radius: 4px;
    padding-top:6px;
    margin-top: 5px;
}

#order-filter .badge.active {
    color: #FFF;
    background-color: #163ac7;
}

#order .card-order {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 6px;
    border: 1px solid #f3f3f5;
}

#order .card-order .desc-title {
    font-size: 12px;
    color: #9da3b3;
}

#order .card-order .desc-content {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#order .card-order .tag-newest {
    background-color: #f3f5fc;
    color: #163ac7;
    font-size: 12px;
    font-family: 'space_grotesksemibold';
}

#order .card-order .tag-working {
    background-color: #163ac7;
    color: #f3f5fc;
    font-size: 12px;
    font-family: 'space_grotesksemibold';
}

#order .card-order .tag-no-progress {
    background-color: #ff6720;
    color: #f3f5fc;
    font-size: 12px;
    font-family: 'space_grotesksemibold';
}

#order .card-order .tag-revision {
    background-color: #ffb81c;
    color: #f3f5fc;
    font-size: 12px;
    font-family: 'space_grotesksemibold';
}

#order .card-order .tag-done {
    background-color: #3395a0;
    color: #f3f5fc;
    font-size: 12px;
    font-family: 'space_grotesksemibold';
}

#order .card-order .img-avatar {
    width: 26px;
    border-radius: 2px;
}

#order .card-order .icon {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    font-size: 0.9em;
    color: #9da3b3;

}

#order .card-order .order-title {
    font-family: 'space_groteskmedium';
    font-size: 17px;
    color: #091841;
}

#order .card-order .order-detail-link {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    text-decoration: none;
}

#card-progress {
    border-radius: 6px;
    border: 1px solid #f3f3f5;
}

#card-progress .progress-text {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #6b748d;
}

#card-progress .progress-text span:nth-child(1) {
    color: #091841;
}

#card-progress .progress-text span:nth-child(7) {
    color: #9da3b3;
}

#card-progress .v-divider {
    border-right: 1px solid #f3f3f5;
    height: 36px;
}

#card-progress .btn-review {
    font-size: 12px;
    font-family: 'space_groteskmedium';
    color: #091841;
    border: 1px solid #2d4ecd;
}

#card-progress .btn-review:hover {
    color: #FFF;
    background-color: #091841;
    transition: .2s;
}
/* == End of page : Dashboard - Pesanan == */

/* == Start of page : Dashboard - Pesanan - Menunggu Pembayaran ==  */
#order-card .card-order {
    border-radius: 6px;
    border: 1px solid #e6e8ec;
}

#order-card .card-order .desc-title {
    font-size: 12px;
    color: #9da3b3;
}

#order-card .card-order .desc-content {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#order-card .card-order .img-artwork {
    width: 100%;
}

#order-card .card-order .order-title {
    font-size: 22px;
    color: #091841;
}

#order-card .card-order .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#order-card .card-order .btn-tag:hover {
    color: #FFF;
    background-color: #3a4667;
    transition: 0.2s;
}

#order-card .card-order .terms-detail {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #6b748d;
}

#order-card .card-order .btn-pay {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    line-height: 26px;
    color: #FFF;
    background-color: #163ac7;
    border-radius: 6px;
    width: 120px;
    height: 40px;
}

#order-card .card-order .btn-pay:hover {
    color: #FFF;
    background-color: #091841;
    transition: .2s;
}

#order-card .card-order .btn-detail {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    line-height: 26px;
    color: #091841;
    border: 1px solid #163ac7;
    border-radius: 6px;
    width: 120px;
    height: 40px;
}

#order-card .card-order .btn-detail:hover {
    color: #FFF;
    background-color: #163ac7;
    transition: .2s;
}
/* == End of page : Dashboard - Pesanan - Menunggu Pembayaran ==  */

/* == Start of page : Dashboard - Pesanan - Detail ==  */
#detail-page .detail-title {
    color: #091841;
    font-size: 26px;
}

#detail-page .desc-title {
    font-size: 12px;
    color: #9da3b3;
}

#detail-page .desc-content {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#detail-page .pay-link {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #163ac7;
    text-decoration: underline;
}

#detail-page .artist-profile-card {
    border: 1px solid #e6e8ec;
    border-radius: 6px;
    width: 50%;
}

#detail-page .artist-avatar {
    width: 45px;
}

#detail-page .artist-profile-name {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#detail-page .artist-profile-rating {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
}

#detail-page .artist-profile-rating i {
    color: #ffb81c;
}

#detail-page .btn-chat {
    border: 1px solid #2d4ecd;
    border-radius: 6px;
    color: #091841;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#detail-page .btn-chat:hover {
    background-color: #2d4ecd;
    color: #FFF;
    transition: .2s;
}

#detail-page .detail-card {
    border: 1px solid #f3f3f5;
    border-radius: 6px;
}

#detail-page .detail-link {
    font-family: 'space_grotesksemibold';
    font-size: 14px;
    color: #6b748d;
    padding: 10px 10px;
}

#detail-page .detail-link:hover {
    text-decoration: none;
}

#detail-page .detail-link.active {
    color: #091841;
}

#detail-page .progress-text {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #6b748d;
}

#detail-page .progress-text span:nth-child(1) {
    color: #091841;
}

#detail-page .progress-text span:nth-child(7) {
    color: #9da3b3;
}

#detail-page .v-divider {
    border-right: 1px solid #f3f3f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

#detail-page .timer-box {
    background-color: #f3f3f5;
    border: 1px solid #e6e8ec;
    padding: 10px 12px;
    border-radius: 4px;
}

#detail-page .timer-box .title{
    color: #091841;
    font-family: 'space_groteskmedium';
    font-size: 12px;
}

#detail-page .timer-box .content{
    color: #6b748d;
    font-size: 10px;
}

#detail-page .img-artwork {
    width: 100%;
}

#detail-page .btn-tag {
    border: 1px solid #CED1D9;
    color: #3a4667;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
}

#detail-page .btn-tag:hover {
    color: #FFF;
    background-color: #3a4667;
    transition: 0.2s;
}

#detail-page .terms-detail {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #6b748d;
}

#detail-page .include-title {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#detail-page .include-list {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;
}

#detail-page .tick-icon {
    width: 12px;
    padding-bottom: 6px;
    margin-right: 5px;
}

#detail-page .detail-card-title {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
}

#detail-page .detail-card-content {
    font-size: 13px;
    color: #9da3b3;
}

#detail-page .price-title {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #9da3b3;    
}

#detail-page .price-content {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #777777;    
}

#detail-page .total-price-title {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #3a4667;    
}

#detail-page .total-price-content {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #1c1c1c;    
}

#detail-page .price-detail-title {
    font-size: 10px;
    color: #9da3b3;
}

#detail-page .price-detail-content {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #091841;
}

#detail-page .no-attachment {
    text-align: center;
}

#detail-page .no-attachment h5 {
    font-family: 'space_grotesksemibold';
    font-size: 17px;
    color: #091841;
}

#detail-page .no-attachment span {
    font-size: 14px;
    color: #9da3b3;
}

#detail-page .attachment-list-container {
    list-style: none;
    padding: 0;
}

#detail-page .attachment-list {
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
    background-color: #f3f5fc;
    padding: 20px;
    line-height: 20px;
    border-radius: 10px;
}

#detail-page .btn-download {
    border: 1px solid #2d4ecd;
    border-radius: 6px;
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #091841;
    background-color: #FFF;
    margin-top: -5px;
}

#detail-page .btn-download:hover {
    background-color: #2d4ecd;
    color: #FFF;
    transition: .2s;
}

#detail-page .detail-card-subtitle {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #6b748d;
}

#detail-page .complain-type {
    border-radius: 2px;
    border: 1px solid #ced1d9;
    color: #3a4667;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    padding: 4px 11px;
    cursor: pointer;
}

#detail-page .complain-type input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#detail-page .complain-type.active {
    border: 1px solid #163ac7;
    background-color: #163ac7;
    color: #FFF;
}

#detail-page .review-type {
    border-radius: 2px;
    border: 1px solid #ced1d9;
    color: #3a4667;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    padding: 4px 11px;
    cursor: pointer;
}

#detail-page .review-type input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#detail-page .review-type.active {
    border: 1px solid #163ac7;
    background-color: #163ac7;
    color: #FFF;
}

#detail-page .detail-modal-textarea {
    border: 1px solid #ced1d9;
    border-radius: 4px;
    width: 95%;
    padding: 15px;
    font-family: 'space_groteskmedium';
    font-size: 14px;
    color: #091841;
}

#detail-page .detail-modal-textarea::placeholder {
    color: #9da3b3;
}

#detail-page .detail-modal-textarea:focus {
    outline: none;
}

#detail-page .dropzone {
    border: 2px dashed #ced1d9;
    max-height: 120px;
}

#detail-page .drop-message {
    color: #9da3b3;
    font-family: 'space_groteskmedium';
    font-size: 15px;
    line-height: 28px;
}

#detail-page .drop-message b {
    color: #091841;
}

#detail-page .drop-message-small {
    color: #9da3b3;
    font-size: 12px;
    line-height: 20px;
}

#detail-page .chevron-link {
    color: #163ac7;
    font-size: 1.2em;
}

#detail-page .sketch-img {
    width: 100%;
    border-radius: 10px;
}

#detail-page .revision-tag {
    background-color: #fffbf4;
    color: #ffb81c;
    font-size: 11px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
}

#detail-page .cb-text {
    color: #6b748d;
    font-size: 12px;
    font-family: 'space_groteskmedium';
}

#detail-page .star-rating input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#detail-page .star-rating i {
    font-size: 1.5em;
    color: #e6e8ec;
    cursor: pointer;
}

#detail-page .star-rating .active {
    color: #ffb81c;
}

#detail-page .tips-item input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#detail-page .tips-item {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    color: #9da3b3;
    width: 100%;
    padding: 15px 20px;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

#detail-page .tips-item.active {
    border: 1px solid #163ac7;
    color: #091841;
    background-color: #f3f5fc;
}

#detail-page .tips-item-text {
    outline: none;
}

#detail-page .tips-item input[type='text'] {
    border: 1px solid #163ac7;
    color: #091841;
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    outline: none;
    font-family: 'space_groteskmedium';
    font-size: 12px;
}

#detail-page .review-star {
    color: #e6e8ec;
    font-size: 16px;
}

#detail-page .review-star.active {
    color: #ffb81c;
}
/* == End of page : Dashboard - Pesanan - Detail ==  */

/* == Start of page : Dashboard - Chat ==  */
#dashboard-chat {
    height: 62vh;
}

#dashboard-chat .left-col {
    padding: 0;
    border-right: 1px solid #e6e8ec;
}

#dashboard-chat ul {
    padding: 0;
    margin: 0;
}

#dashboard-chat .chat-list {
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e8ec;
}

#dashboard-chat .chat-list.active {
    background:url('../images/icon/blue-line.png') right no-repeat;
}

#dashboard-chat .chat-list-avatar {
    width: 100%;
}

#dashboard-chat .chat-name {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #091841;
}

#dashboard-chat .chat-time {
    font-family: 'space_groteskmedium';
    font-size: 10px;
    padding-top: 6px;
    color: #bebebe;
}

#dashboard-chat .chat-text {
    font-family: 'space_groteskmedium';
    font-size: 10px;
    color: #9da3b3;
}

#dashboard-chat .new-message-dot {
    font-size: 0.7em;
    color: #ff6720;
    padding-top: 6px;
}

#dashboard-chat .chatbox-header {
    border-bottom: 1px solid #e6e8ec;
}

#dashboard-chat .chatbox-name {
    font-family: 'space_groteskmedium';
    font-size: 15px;
    color: #091841;
}

#dashboard-chat .chatbox-status {
    font-size: 10px;
    color: #9da3b3;
}

#dashboard-chat .phone-icon {
    background-color: #f3f5fc;
    color: #163ac7;
    width: 36px;
    height: 36px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 6px;
}

#dashboard-chat .chatbox-card-info {
    border: 1px solid #e6e8ec;
    border-radius: 8px;
}

#dashboard-chat .tag-working {
    background-color: #163ac7;
    color: #f3f5fc;
    font-size: 10px;
    font-family: 'space_grotesksemibold';
    border-radius: 2px;
}

#dashboard-chat .tag-no-progress {
    background-color: #ff6720;
    color: #f3f5fc;
    font-size: 10px;
    font-family: 'space_grotesksemibold';
    border-radius: 2px;
}

#dashboard-chat .tag-revision {
    background-color: #ffb81c;
    color: #f3f5fc;
    font-size: 10px;
    font-family: 'space_grotesksemibold';
    border-radius: 2px;
}

#dashboard-chat .tag-done {
    background-color: #3395a0;
    color: #f3f5fc;
    font-size: 10px;
    font-family: 'space_grotesksemibold';
    border-radius: 2px;
}

#dashboard-chat .order-name {
    font-size: 15px;
    font-family: 'space_groteskmedium';
    color: #091841;
}

#dashboard-chat .info-title {
    font-size: 10px;
    color: #9da3b3;
}

#dashboard-chat .info-desc {
    font-family: 'space_grotesksemibold';
    font-size: 12px;
    color: #091841;
}

#dashboard-chat .chat-bubble-right {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #FFF;
    background-color: #163ac7;
    padding: 10px 15px;
    border-radius: 8px 8px 0 8px;
}

#dashboard-chat .chat-bubble-left {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #091841;
    background-color: #f3f3f5;
    padding: 10px 15px;
    border-radius: 8px 8px 8px 0;
}

#dashboard-chat .chatbox-input {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#dashboard-chat .input-box-container {
    position: relative;
    width: 100%;
}

#dashboard-chat .input-box {
    width: 100%;
    border: 1px solid #ced1d9;
    border-radius: 18px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #091841;
    line-height: 20px;
    height: 60px;
}

#dashboard-chat .input-box::placeholder {
    font-family: 'space_groteskmedium';
    font-size: 12px;
    color: #ced1d9;
}

#dashboard-chat .input-btn {
    position: absolute;
    right: 20px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background-color: #163AC7;
    color: white;
    box-shadow: none !important;
    margin: 5px;
    border-radius: 12px;
    font-family: 'space_groteskmedium';
    font-size: 13px;
    width: 70px;
}

#dashboard-chat .input-btn:hover {
    background-color: #1735ac;
    color: white;
    transition: 0.2s;
}

#dashboard-chat .input-btn:active {
    background-color: #091841;
}

#dashboard-chat .chatbox-icon {
    color: #9da3b3;
    font-size: 1.3em;
}
/* == End of page : Dashboard - Chat ==  */


